<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nuevo
    </ion-title>
    <ion-button slot="end" fill="transparent" (click)="LogOut()">
      <ion-icon name="log-out-outline" size="large"></ion-icon>
     </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
       <form>
            <h2 class="m-4">Datos</h2>
             <ion-card> 
                <ion-item>
                  <ion-label>Titulo:</ion-label>
                  <ion-input type="text" placeholder="Escriba un titulo."></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Fecha:</ion-label>
                  <ion-input type="text" placeholder="Describir su secreto."></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Lugar:</ion-label>
                  <ion-input type="text" placeholder="Describir su secreto."></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Valor:</ion-label>
                  <ion-input type="number" placeholder="Escriba un valor."></ion-input>
                </ion-item>
             </ion-card>
                <h2 class="m-4">Coordenadas</h2>
                <ion-card>                <ion-item>
                  <ion-label>Latitud:</ion-label>
                  <ion-input type="number" placeholder="Describir su secreto."></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Longitud:</ion-label>
                  <ion-input type="number" placeholder="Escriba un valor."></ion-input>
                </ion-item>
              </ion-card>

                <h2 class="m-4">Descripcion:</h2> 
                <ion-card>
                <ion-item>
                  <ion-textarea rows="6" cols="10" placeholder="Escriba una descripcion..."></ion-textarea>
                </ion-item>
              </ion-card>
              <div class="text-center my-4">
                <button class="btn text-white" style="background: linear-gradient(90deg, rgba(255,0,0,0.9360119047619048) 0%, rgba(255,128,0,1) 100%);">Crear nuevo secreto</button>
              </div>
            </form>
</ion-content>
