<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Secretos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list>
      <ion-card class="ion-margin-top">
        <div class="card-header">
            <b class="card-title">Titulo:</b> <span class="mx-2">Titulo del secreto </span>
        </div>
         <ion-card-content>
           <ion-label>   
              <h6>Descripcion:</h6> <span>Esto es una Descripcion</span>
           </ion-label>
         </ion-card-content>
      </ion-card>
       
</ion-list>
</ion-content>
